body {
  background-color: rgb(5,6,8);
  margin: auto;
}
* {
  box-sizing: border-box;
}
.tile {
  position: relative;
  float:right;
  width: 25%;
  border: solid 2px white;
}
.column-4 .tile {
  position:relative;
  float: right;
  width: 25%;
  border: solid 2px white;
}
.column-6 .tile {
  position:relative;
  float: right;
  width: 16.66%;
  border: solid 2px white;
}
.column-8 .tile {
  position:relative;
  float: right;
  width: 12.5%;
  border: solid 2px white;
}

.tile img {
  width: 100%;
  display: block;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  transition: 0.5s;
}
.tile.show img,
.tile.lock img {
  transform: rotateY(0deg);
}
.tile.show .back,
.tile.lock .back {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}
.tile .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/digitalcrafts-graduation-party-96.jpeg) center center no-repeat #eee;
  background-color: rgb(5,6,8);
}

#turn {
  margin: auto;
  min-width: 20%;
  height: 60px;
  background-color: rgb(5,6,8);
  color: white;
  font-size: 3em;
}
#message {
  position: relative;
  left: 100px;
  min-width: 40%;
  height: 60px;
  background-color: rgb(5,6,8);
  color: white;
  font-size: 3em;
}

.modalList {
  display: inline-block;
  margin-right: 50px;
}

.modalImg {
  display: inline-block;
}
